<!--h3>Engagements</h3>
<div class="chart-container">
  <canvas baseChart [data]="pieChartData" [labels]="pieChart" [chartType]="pieChartType"
    [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
  </canvas>
</div -->


<!--div style="text-align:center;font-size: x-small;">{{columnsStatData.title}}</div-->

<!--div *ngIf="columnsStatData.type=='pie' || columnsStatData.type=='bar'" style="display: block;width: 150px;min-height: 150px;">
    <canvas id="mycanvas" width="150" height="100" baseChart
            [datasets]="columnsStatData.data"
            [labels]="columnsStatData.labels"
            [options]="pieChartOptions"
            [chartType]="columnsStatData.type"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
    </div>
    
    <div *ngIf="columnsStatData.type==''" style="display: block;width: 150px;min-height: 150px;" >

        <canvas #mycanvas  width="150" height="100"></canvas>
    
        </div -->
    