<router-outlet></router-outlet>
<!--app-factorial></app-factorial -->
<!--app-drawflow></app-drawflow -->

<!--div class="title-box dbclickbox" data-action="show-popup">
    <div class="icon-text-wrapper">
      <i class="fas fa-network-wired"></i>
      <span>inputCSV1jjjjj</span>
    </div>
  </div -->
  

<!--app-tree-flat-nodes></app-tree-flat-nodes 
<b>Reactive</b>
      
<div>                     
    <button  type="button" matTooltip="select file" class="btn btn-default" (click)="openFolderServerModal('folder2')">
        <mat-icon style="margin-top: 10%;color:yellow">folder</mat-icon>
    </button> 
    </div --> 
