.navbar{
    background:  #07020857;
  }
    
    .nav-link{
      color: #3C3C3B;
    }
    
    .navbar-brand{
      color: #3C3C3B;
    }
    
  
  .material-icons{
    margin-right:45px;
    vertical-align: top;
  }
  