a{
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}

.nav-caption{
    display: inline-block;
    padding-left: 6px;
}

.active {
  background-color:rgb(127, 133, 255);
  color: white;

}


/* Success syling */

.mat-button.mat-success,
.mat-stroked-button.mat-success {
    color: #250755;
    background-color: #89c0e6;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color:#155724;
}
